$panton: 'Panton';

$font-size: 1rem;

$blue: #245ec3;
$orange: #ed942c;
$color: #393e46;
$border: #e8e8e8;
$dark: #15181e;

$shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.04);
$border-radius: 0.25rem;

$transition: 0.3s all;
