.form-field {
    display: block;
    position: relative;
    margin-bottom: 1rem;
    font-size: 0;

    .label {
        display: block;
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
        line-height: 1.25rem;
    }

    input, textarea {
        width: 100%;
        height: 3rem;
        border-radius: $border-radius;
        border: 0.063rem solid $border;
        background-color: #ffffff;
        padding: 0 1rem;
        font-family: $panton;
        font-size: 0.875rem;
        color: rgba($color, 0.3);

        &:focus {
            color: $color;
        }
    }
    textarea {
        height: 9rem;
        resize: none;
        padding: 0.5rem 1rem;
    }

    &.-merged {
        input, textarea {
            &:first-of-type:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-of-type:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 0;
            }
        }

        .jq-selectbox {
            vertical-align: top;
            &:first-child {
                .jq-selectbox__select {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            &:last-child {
                .jq-selectbox__select {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-left: 0;
                }
            }
        }
    }

    .link-lost-pass {
        font-size: 0.875rem;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        color: $blue;
        border-bottom: 1px solid rgba($blue, 0.3);
    }

    &:last-child {
        margin: 0;
    }
}
