#freelancer {
    .card {
        overflow: hidden;

        &-info {
            display: flex;
            align-items: center;
            margin-bottom: -1rem;

            @include media-breakpoint('1199') {
                display: block;
            }

            .user {
                display: flex;
                align-items: center;
                margin-right: 3.5rem;

                @include media-breakpoint('1199') {
                    justify-content: space-between;
                    margin-bottom: 0.75rem;
                    margin-right: 0;
                }

                figure {
                    width: 4rem;
                    height: 4rem;
                    overflow: hidden;
                    border-radius: 50%;
                    @include media-breakpoint('1199') {
                        order: 2;
                    }

                    img {
                        width: 100%;
                    }
                }

                &-body {
                    padding-left: 1rem;
                    @include media-breakpoint('1199') {
                        padding-left: 0;
                    }

                    .name {
                        color: $dark;
                        margin-bottom: 0.5rem;
                        font-weight: 600;
                    }

                    .info {
                        font-size: 0.875rem;
                    }
                }
            }

            .user-rating {
                margin-right: 5rem;

                .rating {
                    display: block;

                    span {
                        display: block;
                        margin-top: .5rem;
                        font-size: 0.875rem;
                        margin-left: 0;
                    }
                }


                @include media-breakpoint('1199') {
                    margin-bottom: 0.5rem;

                    .rating {
                        display: flex;

                        span {
                            margin-top: 0;
                            margin-left: 0.5rem;
                        }
                    }
                }
            }

            .user-price {
                line-height: 1.5rem;
                @include media-breakpoint('1199') {
                    display: flex;
                    align-items: baseline;
                }

                .hour {
                    color: $blue;
                    font-weight: 600;
                    @include media-breakpoint('1199') {
                        margin-right: 0.5rem;
                    }
                }

                .month {
                    font-size: 0.75rem;
                }
            }

            .btn {
                @include media-breakpoint('1199') {
                    display: none;
                }
            }

            .other-accounts {
                display: none;
                font-size: 0;

                @include media-breakpoint('1199') {
                    display: block;
                    margin-top: 0.5rem;
                }
            }
        }

        &-categories {
            font-size: 0;
            margin: 0 -0.25rem;


            .link-category {
                margin: 0.25rem;
            }
        }

        &-actions {
            @extend %flex-inline;
            font-size: 0;

            #tabs {
                display: flex;
                margin: -1rem 0;

                li {
                    padding: 1.2rem 0;
                    font-size: 0.875rem;
                    margin-right: 1.5rem;
                    cursor: pointer;

                    &.active {
                        border-bottom: 2px solid $blue;
                        font-weight: 600;
                        cursor: default;
                    }
                }
            }

            .other-accounts {
                @include media-breakpoint('1199') {
                    display: none;
                }
            }
        }

    }

    .services {
        dl {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            font-size: 0.875rem;
            margin-bottom: 1rem;

            dt {
                flex: auto;


                span {
                    background: #fff;
                }

                &:after {
                    content: '';
                    display: flex;
                    flex: auto;
                    border-bottom: 1px dotted;
                    margin-top: -4px;
                }
            }

            dd {
                font-weight: 600;
                color: $blue;
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    .tab-box {
        @include media-breakpoint('1199') {
            display: none;

            &.-visible {
                display: block;
            }
        }

    }

    #portfolio {
        position: relative;

        .grid {
            grid-gap: 1.5rem 1rem;
        }

        .item {
            figure {
                height: 11.688rem;
                border-radius: $border-radius;
                overflow: hidden;
                margin-bottom: 0.5rem;
            }

            p {
                font-size: 0.875rem;
                line-height: 1.5rem;
            }
        }

        .link-more {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }

    #portfolio-card {
        figure {
            margin: 0 -1rem 1rem -1rem;

            img {
                width: 100%;
            }
        }
    }

    #reviews {
        position: relative;

        .title {
            margin-bottom: 0;
        }

        .sort {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        .wrap {
            margin-top: -1rem;

            .review {
                &:last-child {
                    border-bottom: 0;
                }
            }
        }

        .review {
            &-head {
                margin-bottom: 1rem;
                @extend %flex-inline;
                font-size: 0.875rem;

                .author {
                    span {
                        color: $dark;
                    }
                }

                @include media-breakpoint('1199') {
                    display: block;

                    .rating {
                        margin-top: 0.5rem
                    }
                }
            }

            &-title {
                font-size: 0.875rem;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            &-text {
                font-size: 0.875rem;
                line-height: 1.5rem;
                margin-bottom: 1rem;
            }

            &-thumbs {
                margin-bottom: 0.5rem;

                [class*=col] {
                    margin-bottom: 0.5rem;
                }
            }

            .likes {
                display: flex;
                align-items: baseline;

                svg {
                    width: 1.438rem;
                    height: 1.25rem;
                    fill: $blue;
                }

                span {
                    @extend %dib;

                }

                .btn-like {
                    color: $blue;
                }

                .btn-dislike {
                    span {
                        color: $color;
                    }

                    svg {
                        fill: $color;
                        transform: rotate(180deg);
                    }

                    margin-left: 1.25rem;
                }

                button.active {
                    transition: 0.3s all;


                    &.active {
                        opacity: 0.5;
                        cursor: default;
                    }
                }
            }
        }

        .link-more {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }


}


