.icon-vk {
    width: 1.25rem;
    height: 0.625rem;
}

.icon-ins {
    width: 1.25rem;
    height: 1.25rem;
}

.icon-tw {
    width: 1.25rem;
    height: 1rem;
}

.icon-yt {
    width: 1.25rem;
    height: 0.875rem;
}

.icon-arr-down {
    width: 0.5rem;
    height: 0.313rem;
}


.icon-cross {
    width: 0.5rem;
    height: 0.5rem;
}
