.info-block {
    background: $blue;
    color: #fff;

    .title {
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 1rem;
        font-size: 0.875rem;
        line-height: 1.5rem;
    }
    .btn {
        &.-blue {
            background-color: #3777e8;
        }
    }
}
