#new-reviews {
    background: url("../img/bg-wave-2.png") no-repeat bottom;
    padding-bottom: 9rem;
    background-size: 100% 17.5rem;
    @include media-breakpoint('1199') {
        background-size: 100% 4rem;
        padding-bottom: 4rem;
    }

    .title {
        margin-bottom: 0.75rem;
    }

    #slider-reviews {
        margin: 0 -0.75rem;
    }

    .slick-slide {
        padding: 0.75rem;
    }

    .review {
        box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.04);
        border-radius: 0.25rem;
        background-color: #ffffff;
        padding: 1.5rem;
        @include media-breakpoint('1199') {
            padding: 1rem;
        }

        .review-head {
            @extend %flex-inline;
            margin-bottom: 0.75rem;

            .user {
                display: flex;
                align-items: center;

                figure {
                    width: 2rem;
                }

                span {
                    margin-left: 0.5rem;
                    font-size: 0.875rem;
                    color: $dark;
                }
            }
        }

        .review-text {
            font-size: 0.875rem;
            margin-bottom: 0.75rem;
            line-height: 1.5rem;
        }

        .review-author {
            font-size: 0.875rem;

            span {
                color: $dark;
            }
        }
    }

    .slick-arrow {
        @extend %slick-arrows;
    }
}
