.success {
    margin-bottom: 3rem;
    @include media-breakpoint('1199') {
        margin-bottom: 1.5rem;
    }

    .icon-tick-large {
        width: 6rem;
        height: 5.875rem;
        fill: $blue;
    }

    p {
        margin-top: 1.5rem;
        color: $dark;
        line-height: 1.5rem;

        strong {
            font-size: 1rem;
            color: $dark;
            font-weight: 600;
            @include media-breakpoint('1199') {
                font-size: 0.875rem;
            }
        }

        @include media-breakpoint('1199') {
            font-size: 0.875rem;

            br {
                display: none;
            }
        }
    }

    .btn {
        margin-top: 2.5rem;
        @include media-breakpoint('1199') {
            margin-top: 1.5rem;
            width: 100%;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.success-info {
    p {
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
        @include media-breakpoint('1199') {
            font-size: 0.75rem;
            line-height: 1.125rem;
        }

        strong {
            font-size: 1rem;
            color: $dark;
            font-weight: 600;
            @include media-breakpoint('1199') {
                font-size: 0.875rem;
            }
        }

        &:last-child {
            margin: 0;
        }
    }

    a {
        color: $blue;
    }

    .btn {
        margin-top: 2.5rem;
        @include media-breakpoint('1199') {
            margin-top: 1.5rem;
            width: 100%;
        }
    }

    #other-freelancers {
        margin-top: 1rem;
    }
}


