<!DOCTYPE html>
<html lang="ru">
{% include 'head.html' %}
<body>
<div id="page">
    {% include 'header-search.html' %}
    <main id="main" class="container">
        <div class="breadcrumbs">
            <a href="#">Главная</a>
            <i class="icon-sep"></i>
            <span>Блог</span>
        </div>
        <h1 class="title -h1">Добавление профиля</h1>
        <div class="grid-main">
            <div id="content">
                <div class="form">
                    <div class="adding-process -block">
                        <ul class="ul-reset">
                            <li class="completely active">Данные исполнителя</li>
                            <li class="completely active">Порфтолио</li>
                            <li class="active">Готово</li>
                        </ul>
                    </div>
                    <div class="-block -padding-2">
                        <div class="success -center">
                            <svg class="icon-tick-large">
                                <use xlink:href="img/symbol/sprite.svg#icon-tick-large"></use>
                            </svg>
                            <p><span>Готово!</span> Ваш профиль был успешно добавлен и после проверки <br>
                                модератором появится на сайте site.com</p>
                        </div>
                        <div class="success-info">
                            <p><strong>Как получать больше заказов:</strong></p>
                            <p>1. Добавляйте новые работы в портфолио</p>
                            <p>2. Просите заказчиков оставлять отзывы</p>
                            <p>3. Делитесь с друзьями в соц. сетях своим профилем</p>
                            <a href="#" class="btn -blue -center">Вернуться на главную</a>
                        </div>
                    </div>
                </div>

            </div>
            {% include 'sidebar-2.html' %}
        </div>
    </main>
    {% include 'footer.html' %}
</div>
{% include 'scripts.html' %}
</body>
</html>

