<!DOCTYPE html>
<html lang="ru">
{% include 'head.html' %}
<body class="-bg-white">
<div id="page">
    {% include 'header-search.html' %}
    <main id="main" class="container -narrow">
        <div class="breadcrumbs">
            <a href="#">Главная</a>
            <i class="icon-sep"></i>
            <span>Блог</span>
        </div>
        <article class="article">
            <h1 class="title -h1">Копирайтинг как вариант удаленной работы на период пандемии</h1>
            <figure>
                <img src="img/img-article.jpg" alt="">
            </figure>
            <p>
                <time datetime="24.01.19, 12:21">24.01.19, 12:21</time>
            </p>
            <h1>H2 Заголовок второго уровня</h1>
            <h2>H2 Заголовок второго уровня</h2>
            <p>28 февраля 2020 г., <a href="#">AEX.RU</a> – <span>Национальный авиаперевозчик</span> России, авиакомпания Аэрофлот, член
                альянса SkyTeam, получил сегодня в свое распоряжение первый лайнер A350. Об этом сообщает
                пресс-служба Airbus.</p>
            <p> «Таким образом, Аэрофлот стал первым оператором данного типа самолетов в Восточной Европе и СНГ.
                A350-900 Аэрофлота окрашен в новую ливрею, охватывающую почти 100-летнее наследие авиакомпании»,
                - отметили в Airbus.
            <p>A350-900 Аэрофлота имеет совершенно новый элегантный дизайн пассажирского салона, предлагая
                непревзойденный комфорт для путешественников. Самолет имеет просторную трехклассную компоновку
                салона на 316 мест: 28 персональных боксов в бизнес-классе с полностью раскладывающимися
                креслами, 24 кресла комфорт-класса с дополнительным пространством для ног и 264 места в
                эконом-классе. Кроме того, на борту самолета установлена развлекательная система Panasonic eX3
                последнего поколения, а также экраны высокой четкости и оборудование для подключения к Wi-Fi,
                что обеспечит расширенные возможности для всех пассажиров на дальнемагистральных рейсах.
                Аэрофлот будет эксплуатировать A350-900 на рейсах из Москвы по ряду направлений, включая Лондон,
                Дубай, Нью-Йорк, Майами, Осака и Пекин, рассказали в Airbus.</p>
            <div class="wp-caption aligncenter">
                <img src="img/img-article-2.jpg" alt="">
                <div class="wp-caption-text">
                    Описание или текст для фотографии
                </div>
            </div>
            <p>Всего Аэрофлот разместил заказ на 22 самолета A350-900. При этом авиакомпания уже эксплуатирует в
                сове парке 126 самолетов производства Airbus (107 самолетов семейства A320 и 19 самолетов
                семейства A330).</p>
            <p><strong>Список точками</strong></p>
            <ul>
                <li>Список 2</li>
                <li>Список 2</li>
                <li>Список 2</li>
            </ul>
            <blockquote>
                A350-900 Аэрофлота имеет совершенно новый элегантный дизайн пассажирского салона, предлагая
                непревзойденный комфорт для путешественников. Самолет имеет просторную трехклассную компоновку
                салона на 316 мест: 28 персональных боксов в бизнес-классе с полностью раскладывающимися
                креслами, 24 кресла комфорт-класса с дополнительным пространством для ног и 264 места в
                эконом-классе.
            </blockquote>
            <h2>Лучшие авиакомпании</h2>
            <ol class="v-2">
                <li>
                    <h3><a href="#">S7 Airlines</a></h3>
                    <p>Всего Аэрофлот разместил заказ на 22 самолета A350-900. При этом авиакомпания уже
                        эксплуатирует в сове парке 126 самолетов производства Airbus (107 самолетов семейства
                        A320 и 19 самолетов семейства A330).</p>
                    <ul>
                        <li>Список 2</li>
                        <li>Список 2</li>
                        <li>Список 2</li>
                    </ul>
                </li>
                <li>
                    <h3><a href="#">Аэрофлот</a></h3>
                    <p>Всего Аэрофлот разместил заказ на 22 самолета A350-900. При этом авиакомпания уже
                        эксплуатирует в сове парке 126 самолетов производства Airbus (107 самолетов семейства
                        A320 и 19 самолетов семейства A330).</p>
                    <ul>
                        <li>Список 2</li>
                        <li>Список 2</li>
                        <li>Список 2</li>
                    </ul>
                </li>
            </ol>
            <blockquote class="v-2">
                A350-900 Аэрофлота имеет совершенно новый элегантный дизайн пассажирского салона, предлагая
                непревзойденный комфорт для путешественников. Самолет имеет просторную трехклассную компоновку
                салона на 316 мест: 28 персональных боксов в бизнес-классе с полностью раскладывающимися
                креслами, 24 кресла комфорт-класса с дополнительным пространством для ног и 264 места в
                эконом-классе.
            </blockquote>
            <div class="table-wrap">
                <table>
                    <tr>
                        <th>Название пункта 2</th>
                        <th>Название пункта 2</th>
                        <th>Название пункта 2</th>
                        <th>Название пункта 2</th>
                    </tr>
                    <tr>
                        <td>Название пункта 2</td>
                        <td>Название пункта 2</td>
                        <td>Название пункта 2</td>
                        <td>Название пункта 2</td>
                    </tr>
                    <tr>
                        <td>Название пункта 2</td>
                        <td>Название пункта 2</td>
                        <td>Название пункта 2</td>
                        <td>Название пункта 2</td>
                    </tr>
                </table>
            </div>
            <footer>
                <a href="#" class="link-back"><span>🡠</span>  Вернуться назад</a>
            </footer>
        </article>
        <div id="blog">
            <div class="title -h2">Другие новости</div>
            <div class="grid col-2 hidden-m">
                {% for i in range(0, 2) %}
                    <a href="#" class="entry">
                        <figure>
                            <img src="img/img-blog.jpg" alt="" class="entry-img -object-fit">
                            <figcaption>
                                <time datetime="Вчера, 15:46" class="entry-date">Вчера, 15:46</time>
                                <span class="entry-title">Плюсы и минусы работы на бирже fl.ru</span>
                            </figcaption>
                        </figure>
                    </a>
                {% endfor %}
            </div>
            <div class="slider-items">
                {% for i in range(0, 2) %}
                    <div>
                        <a href="#" class="entry">
                            <figure>
                                <img src="img/img-blog.jpg" alt="" class="entry-img -object-fit">
                                <figcaption>
                                    <time datetime="Вчера, 15:46" class="entry-date">Вчера, 15:46</time>
                                    <span class="entry-title">Плюсы и минусы работы на бирже fl.ru</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
</div>
{% include 'scripts.html' %}
</body>
</html>

