<footer id="footer">
    <div class="container">
        <div class="row-cols">
            <div class="col-50">
                <div class="title -h6">РейтингФрилансеров</div>
                <ul class="ul-reset">
                    <li><a href="#">О сервисе</a></li>
                    <li><a href="#">Каталог фрилансеров</a></li>
                    <li><a href="#">Добавить отзыв</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Пользовательское соглашение</a></li>
                </ul>
            </div>
            <div class="col-25">
                <div class="title -h6">Помощь</div>
                <ul class="ul-reset">
                    <li><a href="#">Служба поддержки</a></li>
                    <li><a href="#">Вопрос-ответ</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="col-25">
                <div class="title -h6">Мы в соц. сетях</div>
                <div class="socials">
                    <a href="#">
                        <svg class="icon-vk">
                            <use xlink:href="img/symbol/sprite.svg#icon-vk"></use>
                        </svg>
                    </a>
                    <a href="#">
                        <svg class="icon-ins">
                            <use xlink:href="img/symbol/sprite.svg#icon-ins"></use>
                        </svg>
                    </a>
                    <a href="#">
                        <svg class="icon-tw">
                            <use xlink:href="img/symbol/sprite.svg#icon-tw"></use>
                        </svg>
                    </a>
                    <a href="#">
                        <svg class="icon-yt">
                            <use xlink:href="img/symbol/sprite.svg#icon-yt"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <a href="mailto:info@website.ru" class="link-email">info@website.ru</a>
            &copy; 2020 РейтингФрилансеров. Все права защищены
        </div>
    </div>
</footer>
