<header id="header">
    <div class="container">
        <a href="/" class="logo">
            <img src="img/logo.svg" alt="">
            <span>РейтингФрилансеров</span>
        </a>
        <form action="" id="quick-search">
            <label>
                <input type="text" placeholder="Напишите, чем вам помочь...">
            </label>
            <ul class="ul-reset search-results">
                <li><a href="#">Дизайн сайта</a></li>
                <li><a href="#">Дизайн мобильного приложения </a></li>
                <li><a href="#">Дизайн буклетов</a></li>
                <li><a href="#">Дизайн интерьера</a></li>
            </ul>
        </form>
        <button class="btn-menu">
            <i class="icon-burger"></i>
        </button>
        <nav id="menu">
            <ul class="ul-reset">
                <li>
                    <a href="#">Для исполнителя</a>
                    <ul>
                        <li><a href="#">Разместить заказ</a></li>
                        <li><a href="#">Найти исполнителя</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Для заказчика</a>
                    <ul>
                        <li><a href="#">Разместить заказ</a></li>
                        <li><a href="#">Найти исполнителя</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
