<header id="header">
    <div class="container">
        <a href="/" class="logo">
            <img src="img/logo.svg" alt="">
            <span>РейтингФрилансеров</span>
        </a>
        <button class="btn-menu">
            <i class="icon-burger"></i>
        </button>
        <nav id="menu">
            <ul class="ul-reset">
                <li>
                    <a href="#">Для исполнителя</a>
                    <ul>
                        <li><a href="#">Разместить заказ</a></li>
                        <li><a href="#">Найти исполнителя</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Для заказчика</a>
                    <ul>
                        <li><a href="#">Разместить заказ</a></li>
                        <li><a href="#">Найти исполнителя</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
