<div id="sidebar">
    <div class="-block" id="contacts">
        <div class="-padding-2 -line">
            <button class="btn -orange -full-width">Предложить заказ</button>
        </div>
        <div class="-padding-2">
            <div class="title -h6">Контакты</div>
            <dl>
                <dt>Почта</dt>
                <dd><a href="#">damiradesign@mail.ru</a></dd>
            </dl>
            <dl>
                <dt>Телеграм</dt>
                <dd><a href="#">@damiradesign</a></dd>
            </dl>
            <dl>
                <dt>Телефон</dt>
                <dd><a href="#">+7 (700) 700-70-70</a></dd>
            </dl>
            <dl>
                <dt>Вконтакте</dt>
                <dd><a href="#">id7007007777</a></dd>
            </dl>
        </div>
    </div>
    <div class="info-block -padding-2 -rounded -mb-2">
        <div class="title -h3">Это ваш профиль?</div>
        <p>Заметили неточность в описании или хотите обновить портфолио и список услуг? Напишите нам!</p>
        <button type="button" class="btn -blue -full-width">Написать нам</button>
    </div>
    <div class="-block -padding-2">
        <div class="title -h6">Поделиться профилем</div>
        <div class="socials">
            <a href="#">
                <svg class="icon-vk">
                    <use xlink:href="img/symbol/sprite.svg#icon-vk"></use>
                </svg>
            </a>
            <a href="#">
                <svg class="icon-ins">
                    <use xlink:href="img/symbol/sprite.svg#icon-ins"></use>
                </svg>
            </a>
            <a href="#">
                <svg class="icon-tw">
                    <use xlink:href="img/symbol/sprite.svg#icon-tw"></use>
                </svg>
            </a>
            <a href="#">
                <svg class="icon-yt">
                    <use xlink:href="img/symbol/sprite.svg#icon-yt"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
